zap-onboarding-workflow_.json
{
  "name": "zap-onboarding-workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are a professional Onboarding Specialist at Zap Group.\n\nTask: Analyze the provided raw data to generate a client card and an internal script.\n\nInput Data:\n\nRaw Data: {{ JSON.stringify($json) }}\n\nBusiness Name: {{ $json.extracted_business_name }}\n\nInstructions:\n\nExtract Info: Find the business name, phone, email, and location.\n\nAnalysis: Identify service categories and specialties.\n\nScript: Write a suggested_onboarding_script in Hebrew. It must be from the perspective of a Zap Producer welcoming the owner (e.g., \"שלום בועז, מדברים מזאפ...\").\n\nOutput Format (Strictly JSON):\n\n{\n  \"business_info\": { \n    \"name\": \"string\", \n    \"phone\": \"string\", \n    \"email\": \"string\", \n    \"location\": \"string\", \n    \"website_url\": \"string\" \n  },\n  \"services_analysis\": { \n    \"categories\": [\"string\"], \n    \"specialties\": [\"string\"], \n    \"availability\": \"string\" \n  },\n  \"ai_onboarding_insights\": { \n    \"unique_selling_point\": \"string\", \n    \"suggested_onboarding_script\": \"string\" \n  }\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data extraction engine. You must ALWAYS return valid JSON that matches the requested schema exactly. Never include conversational text, introductions, or markdown code blocks like ```json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        768
      ],
      "id": "9aa39f0b-26d4-4706-9f90-02040df42cc5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"business_info\": {\n    \"name\": \"string\",\n    \"phone\": \"string\",\n    \"email\": \"string\",\n    \"location\": \"string\",\n    \"website_url\": \"string\"\n  },\n  \"services_analysis\": {\n    \"categories\": [\"string\"],\n    \"specialties\": [\"string\"],\n    \"availability\": \"string\"\n  },\n  \"ai_onboarding_insights\": {\n    \"unique_selling_point\": \"string\",\n    \"suggested_onboarding_script\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1160,
        992
      ],
      "id": "b4f44e36-4349-49b9-8a51-ab89bc99fecf",
      "name": "Structured Output Parser",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1032,
        992
      ],
      "id": "178949a6-86bd-42d2-af28-414f4acbb38d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fPeNIhjaQkuZocl1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "=boaz@google.com",
        "additionalFields": {
          "city": "={{ $json.output.business_info.location }}",
          "firstName": "={{ $json.output.business_info.name }}",
          "industry": "={{ $json.output.services_analysis.categories.join(', ') }}",
          "persona": "={{ $json.output.ai_onboarding_insights.suggested_onboarding_script }}",
          "phoneNumber": "={{ $json.output.business_info.phone }}"
        },
        "options": {
          "resolveData": false
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1376,
        768
      ],
      "id": "c1cb5ad9-8404-4425-aac0-476f85040126",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "YwE6wUiZTfma7SUe",
          "name": "HubSpot OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "MapSearch",
        "operation": "map",
        "url": "https://www.electroboaz.co.il/",
        "includeSubdomains": true,
        "limit": 6,
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -544,
        864
      ],
      "id": "a4914941-97ec-4b49-8a0a-23d6c7732819",
      "name": "/map",
      "credentials": {
        "firecrawlApi": {
          "id": "oepwiyRFtNLHlzzU",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json.url }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {
                  "type": "json",
                  "prompt": "Look for any contact details like phone numbers and emails. Also, list all the professional categories or services described on the page. If no info is found, describe what the page is about briefly.",
                  "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"contact_info\": {\n      \"type\": \"string\",\n      \"description\": \"Any phone number and email address visible on the page\"\n    },\n    \"categories_and_services\": {\n      \"type\": \"string\",\n      \"description\": \"List the main products, categories, or services mentioned on this page\"\n    }\n  }\n}"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -96,
        864
      ],
      "id": "dd0f5c06-e24c-4e4b-bfde-2f768f61906d",
      "name": "/scrape",
      "credentials": {
        "firecrawlApi": {
          "id": "oepwiyRFtNLHlzzU",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -320,
        864
      ],
      "id": "a3db6447-34ca-4afd-8a52-53d7ffdaefb1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        128,
        864
      ],
      "id": "4dc2bd3d-6de3-491d-b8b2-2a0f8218a998",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "https://www.d.co.il/12628800/26250/",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {
                  "type": "json",
                  "prompt": "Look for any contact details like phone numbers and emails. Also, list all the professional categories or services described on the page. If no info is found, describe what the page is about briefly.",
                  "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"contact_info\": {\n      \"type\": \"string\",\n      \"description\": \"Any phone number or email address visible on the page\"\n    },\n    \"categories_and_services\": {\n      \"type\": \"string\",\n      \"description\": \"List the main products, categories, or services mentioned on this page\"\n    }\n  }\n}"
                }
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        -96,
        672
      ],
      "id": "fc1dfd49-6000-4f91-8430-2a8d69fe7200",
      "name": "minisite_scrap",
      "credentials": {
        "firecrawlApi": {
          "id": "oepwiyRFtNLHlzzU",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        768
      ],
      "id": "cd72d443-2e46-414b-903a-f592a461185a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        672
      ],
      "id": "2cfd226a-4455-44ef-8b4e-70d1381bccb7",
      "name": "Wait",
      "webhookId": "37d56a26-f20d-4af5-b9f2-074b6669e5bf"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        768
      ],
      "id": "d6ddc06e-dbd1-45ae-bf98-2ac78d222ec6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        768
      ],
      "id": "c2d82046-7f03-448e-8f97-f6e380f32997",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet combinedText = new Set();\nlet allPhones = new Set();\nlet allEmails = new Set();\nlet dynamicBusinessName = \"\";\nlet dynamicLocation = \"\";\n\nconst extractInfo = (obj) => {\n    if (!obj) return;\n\n    // 1. שליפת שם העסק באופן דינמי מהכותרות\n    if (!dynamicBusinessName) {\n        dynamicBusinessName = obj.ogTitle || obj.title || obj.name || \"\";\n        // ניקוי תוספות של דפי זהב מהשם במידה וקיים\n        dynamicBusinessName = dynamicBusinessName.split('-')[0].split('|')[0].trim();\n    }\n\n    // 2. שליפת מיקום באופן דינמי\n    if (!dynamicLocation) {\n        dynamicLocation = obj.addressLocality || \"\";\n    }\n\n    // 3. חילוץ טקסט לקטגוריות\n    if (obj.categories_and_services) combinedText.add(obj.categories_and_services);\n    if (obj.description || obj.ogDescription) combinedText.add(obj.description || obj.ogDescription);\n\n    // 4. חילוץ אנשי קשר (Regex)\n    const rawString = JSON.stringify(obj);\n    const emailMatch = rawString.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g);\n    if (emailMatch) emailMatch.forEach(e => allEmails.add(e.toLowerCase().trim()));\n\n    const phoneMatch = rawString.match(/(?:\\+972|0)(?:[23489]|5[0-9]|7[0-9])[- ]?[0-9]{3}[- ]?[0-9]{4}/g);\n    if (phoneMatch) phoneMatch.forEach(p => allPhones.add(p.replace(/[- ]/g, '').trim()));\n};\n\nitems.forEach(item => {\n    const json = item.json;\n    if (json.data) {\n        extractInfo(json.data.json);\n        extractInfo(json.data.metadata);\n    }\n    if (json[\"\"] && Array.isArray(json[\"\"])) {\n        json[\"\"].forEach(subItem => {\n            if (subItem.data) {\n                extractInfo(subItem.data.json);\n                extractInfo(subItem.data.metadata);\n            }\n        });\n    }\n});\n\nreturn [{\n    json: {\n        raw_context: Array.from(combinedText).join(\"\\n---\\n\"),\n        contact_summary: {\n            phones: Array.from(allPhones),\n            emails: Array.from(allEmails)\n        },\n        // עכשיו זה דינמי!\n        extracted_location: dynamicLocation || \"לא נמצא מיקום\", \n        extracted_business_name: dynamicBusinessName || \"שם עסק לא מזוהה\",\n        business_type: \"טכנאי מזגנים\" // ניתן לחלץ גם את זה מה-URL או מה-Prompt ב-AI\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        768
      ],
      "id": "628fe173-122e-44b8-801e-19dc30d6bb18",
      "name": "Code in JavaScript",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        []
      ]
    },
    "/map": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "/scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "minisite_scrap": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "/map",
            "type": "main",
            "index": 0
          },
          {
            "node": "minisite_scrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "03ede61d-cb5b-42d4-bba9-8d9be7eb1d7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e955fd29dea201a167e4c23395028e0c6a345c018f801458f303e4affb085fb1"
  },
  "id": "s1UCRDJoiXdOsPCe",
  "tags": []
}